mediator/data/capd-clarifications-canonicalVisit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    targetNamespace="http://www.nuance.com/clu/capd/clarifications/visit/canonical" xmlns="http://www.nuance.com/clu/capd/clarifications/visit/canonical"
    xmlns:cccv="http://www.nuance.com/clu/capd/clarifications/visit/canonical" xmlns:ccct="http://www.nuance.com/clu/capd/clarifications/types/canonical"
    xmlns:cccd="http://www.nuance.com/clu/capd/clarifications/document/canonical" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xmime="http://www.w3.org/2005/05/xmlmime">

    <xsd:import namespace="http://www.nuance.com/clu/capd/clarifications/types/canonical"
        schemaLocation="capd-clarifications-canonicalTypes.xsd" />
    <xsd:import namespace="http://www.nuance.com/clu/capd/clarifications/document/canonical"
        schemaLocation="capd-clarifications-canonicalDocument.xsd" />

    <xsd:element name="cclav">

        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="canonicalClarificationVisit" type="cccv:CanonicalClarificationVisit" />
            </xsd:sequence>
            <xsd:attribute name="cavVersion" type="xsd:int" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Associated annotation model version used to populate the
                        visit
                        clarifications to propagate to bind in the
                        resolved-capd-clarifications
                        response
                        XML
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="CanonicalClarificationVisit">
        <xsd:sequence>
            <xsd:element name="visit" type="ccct:Visit" />
            <xsd:element name="canonicalClarificationDocument" type="cccd:CanonicalClarificationDocument"
                minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>